*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
}

h2{
    padding:2mm;
}

.choices{
    text-align: center;
    font-size: x-large;
    padding:2mm;
}

.home-team{
    padding:2mm;

}

.away-team{
    padding:2mm;
}

.num,.spread,.over-under{
    padding:2mm;
}

.simulate{
    padding:7mm;
}

.simulate > button{
    cursor: pointer;
    background-color: rgba(88, 254, 66, 0.5);
    font-size: 2rem;
    padding: 5px 10px;
}

.simulate > button:hover,
.simulate > button:focus{
    background-color: rgba(88, 254, 66, 0.95);
}

.score{
    font-size: 1.5rem;
    left: 32%;
    /* top: 50%; */
    /* transform: translate(-50%, -%); */
    position: absolute;
}

.power{
    padding-top: 40mm;
}



select{
    padding: 2mm 2mm;
    border-radius: 4px;
    background-color: #ffffff;
}

input{
    padding: 2mm 2mm;
    border-radius: 4px;
    background-color: #ffffff;
}